@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");


@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");





body {

	font-family: 'Roboto', sans-serif;
	 margin : 0px;

}  

h2 {

	padding-left: 20px;
} 

h1,h2,h3 {

	font-family: 'Circular'
	font-weight: bold;
	color: #ce2c2c;






}

a{
	text-decoration: none;
}

.centrer {
  text-align: center;
}